<div class="content-title">
  <h2 class="page-title">about</h2>
</div>

<div class="content-container">
  <div class="about-container">
    <div class="about-content">
      <p>
        I'm a Ruby on Rails Developer that is committed to learning new tools to build my toolbox. I am known as a creative problem-solver with <code>&lt;strong&gt;</code> attention to detail and organizational skills. I value looking at the big picture and thinking outside of the <code>{flex}</code> box.
      </p>
      <p>
        I enjoy riding rollercoasters, reading historical-fiction, creating art in various mediums, solving logic puzzles (like
        <a href="https://www.brainbashers.com/hitorihelp.asp">Hitori</a> or Sudoku), and playing board games (like
        <a href="https://boardgamegeek.com/boardgame/36218/dominion">Dominion</a>,
        <a href="https://boardgamegeek.com/boardgame/38821/settlers-catan-gallery-edition">Settlers of Catan</a>, or
        <a href="https://boardgamegeek.com/boardgame/9209/ticket-ride">Ticket to Ride</a>.
      </p>
      <p>
        Since 2001, I only worked part-time sporadically because I choose to be a stay-at-parent since we do not have any family nearby. I stopped working in 2016 to focus on volunteer work and learning web development. After attempting to learn on my own, I found myself in "tutorial hell"; doing different introductory material and not making much actual progress.
      </p>
      <p>
        Once I joined <a href="https://www.theodinproject.com/">The Odin Project</a> in November 2019, I starting making real progress! Their project-based curriculum forced me to break down each project into pseudo code, get comfortable researching, and reading documentation. In addition, I wanted to get better at reading and debugging other people's code, so I started helping other students in their Discord community.
      </p>
      <p>
        I have experienced many highs and lows working through the curriculum. One of my lowest moments was in the Ruby Testing section because I struggled to wrap my head around testing. So, I explored several other resources in hopes to more fully understand it, but everything I found covered the same introductory material.
      </p>
      <p>
        I knew testing was important in the Ruby community, so I decided to dig even deeper. Reading through the testing questions in Discord gave me the idea to create something that would benefit other students. Over the course of several months, I created a 16-lesson tutorial [LINK TO IT IN PROJECTS] designed to better equip students of the The Odin Project to test their projects. Before I submitted this tutorial to The Odin Project's curriculum, I invited fellow students to review and contribute to it.
      </p>
      <p>
        In June 2020, I was invited to be part of The Odin Project's maintainer team. This team of 18 people, from all over the world, volunteer to maintain its open source curriculum and Discord community. After working with this team for 6 months, I was invited to be part of their core team. This core team is comprised of half of the members of the maintainer team and makes the logistical decisions.
      </p>
    </div>
    <div class="about-picture">
      <%= image_tag('rlmoser_bw.jpeg') %>
    </div>
  </div>
</div>
