<div class="hero-container">
  <div class="hero-image">
    <%= image_tag('rlm_logo.png') %>
  </div>

  <div class="hero-content">
    <h1>Rachel Moser</h1>
    <h2>Ruby on Rails Developer</h2>
  </div>
</div>