<div class="hero-container">
  <%= image_tag('rlm_logo.png', height: 'auto', width: '200px') %>

  <div class="hero-content">
    <h1>Rachel Moser</h1>
    <h2>Ruby on Rails Developer</h2>
  </div>
</div>