<main>
  <%= render "layouts/header" %>
  <div class="content project">

    <div class="project-container">
      <div class="project-img social-media-img">
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Social Media</h3>
          <div class="btn-group">
            <a href="https://rlm-social-media.herokuapp.com/users/sign_in" class="left-btn" target="_blank">Demo</a>
            <a href="https://github.com/rlmoser99/social-media" class="right-btn" target="_blank">
              <i class="fas fa-code"></i>
            </a>
          </div>
        </div>
        <div class="card-description">
          <p class="card-summary">
            Ruby on Rails web app that replicates the core functionality of Facebook.
          </p>

          <ul>
            <li>Implemented <strong>Hotwire</strong> to handle real-time updates of posts, comments, and likes.</li>
            <li>Wrote tests using <strong>RSpec, Capybara, and Shoulda Matchers</strong>.</li>
            <li>Used <strong>ActiveStorage and Cloudinary</strong> to allow users to upload images.</li>
            <li>Utilized <strong>service objects</strong> to manage notifications and friendships.</li>
          </ul>

        </div>
      </div>
    </div>

    <div class="project-container project-reverse">
      <div class="project-img flight-booker-img">
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Flight Booker</h3>
          <div class="btn-group">
            <a href="https://rlm-flight-booker.herokuapp.com/" class="left-btn" target="_blank">Demo</a>
            <a href="https://github.com/rlmoser99/flight-booker" class="right-btn" target="_blank">
              <i class="fas fa-code"></i>
            </a>
          </div>
        </div>
        <div class="card-description">
          <p class="card-summary">
            Ruby on Rails web app for booking a 1-way flight.
          </p>

          <ul>
            <li>Implemented a bonus feature that finds two connecting flights for long cross-country trips.</li>
            <li>Utilized test-driven development for the connecting flight feature, as part of its <strong>RSpec test suite</strong>.</li>
            <li>Managed continuous creation and deletion of database entries using <strong>rake tasks and Heroku Scheduler</strong>.</li>
          </ul>

        </div>
      </div>
    </div>

    <div class="project-container">
      <div class="project-img chess-img">
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Chess</h3>
          <div class="btn-group">
            <a href="https://repl.it/@rlmoser/rubychess" class="left-btn" target="_blank">Demo</a>
            <a href="https://github.com/rlmoser99/ruby_chess" class="right-btn" target="_blank">
              <i class="fas fa-code"></i>
            </a>
          </div>
        </div>
        <div class="card-description">
          <p class="card-summary">
            Ruby command-line game for 1 or 2 players.
          </p>

          <ul>
            <li>Implemented <strong>strategy, factory, and observer design patterns</strong> to abstract code duplication and reduce explicit message passing.</li>
            <li>Focused on writing <strong>RSpec unit tests using test-driven development</strong>.</li>
            <li>Utilized serialization to validate each move and allow the user to save their game.</li>
          <ul>
        </div>
      </div>
    </div>

  </div>
</main>