<main>
  <%= render "layouts/header" %>
  <div class="content project">

    <div class="project-container">
      <div class="project-img flight-booker-img">
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Flight Booker</h3>
          <div class="btn-group">
            <a href="https://rlm-flight-booker.herokuapp.com/" class="left-btn" target="_blank">Demo</a>
            <a href="https://github.com/rlmoser99/flight-booker" class="right-btn" target="_blank">
              <i class="fas fa-code"></i>
            </a>
          </div>
        </div>
        <div class="card-description">
          <p class="card-summary">
            Ruby on Rails web app for booking a 1-way flight.
          </p>

          <p>Implemented a bonus feature that finds two connecting flights for long cross-country trips.</p>
          <p>Utilized test-driven development for the connecting flight feature, as part of its <strong>RSpec test suite</strong>.</p>
          <p>Managed continuous creation and deletion of database entries using <strong>rake tasks and Heroku Scheduler</strong>.</p>
        </div>
      </div>
    </div>

    <div class="project-container project-reverse">
      <div id="rspec-tutorial" class="project-img playground-img">
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Created a Ruby RSpec Tutorial</h3>
          <div class="btn-group">
            <a href="https://www.theodinproject.com/courses/ruby-programming/lessons/testing-your-ruby-code#assignment-1" class="left-btn" target="_blank">Lesson</a>
            <a href="https://github.com/rlmoser99/ruby_rspec_TOP" class="right-btn" target="_blank">
              <i class="fas fa-code"></i>
            </a>
          </div>
        </div>
        <div class="card-description">
          <p class="card-summary">
            Unit testing tutorial published in The Odin Project's curriculum.
          </p>

          <p>Developed 16 lessons that cover the following: built-in matchers, the 'Arrange, Act & Assert' testing pattern, stubs, mocks, doubles, and test-driven development.</p>
          <p>Prepared corresponding prompts for students to experience writing a wide variety of tests.</p>
          <p>Invited other students to review and contribute before it was published in the curriculum.</p>
          <p>Reduced student questions by 30% in the Ruby testing support channel on Discord as a result of integrating this tutorial into the curriculum.</p>
        </div>
      </div>
    </div>

    <div class="project-container">
      <div class="project-img chess-img">
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Chess</h3>
          <div class="btn-group">
            <a href="https://repl.it/@rlmoser/rubychess" class="left-btn" target="_blank">Demo</a>
            <a href="https://github.com/rlmoser99/ruby_chess" class="right-btn" target="_blank">
              <i class="fas fa-code"></i>
            </a>
          </div>
        </div>
        <div class="card-description">
          <p class="card-summary">
            Ruby command-line game for 1 or 2 players.
          </p>

          <p>Implemented <strong>strategy, factory, and observer design patterns</strong> to abstract code duplication and reduce explicit message passing.</p>
          <p>Focused on writing <strong>RSpec unit tests using test-driven development</strong>.</p>
          <p>Utilized serialization to validate each move and allow the user to save their game.</p>
        </div>
      </div>
    </div>
    
  </div>
</main>