<div class="content-container">
  <h2 class="page-title">Projects</h2>

  <div class="card">
    <div class="card-header">
      <h3>Flight Booker</h3>
      <div class="card-btn">
        <a href="https://rlm-flight-booker.herokuapp.com/" class="demo-btn">Demo</a>
        <a href="https://github.com/rlmoser99/flight-booker" class="code-btn">
          <i class="fas fa-code"></i>
        </a>
      </div>
    </div>
    <div class="card-content">
      <div class="card-img">
        <a href="https://rlm-flight-booker.herokuapp.com/">
          <%= image_tag('project-flight-booker.png') %>
        </a>
      </div>
      <div class="card-description">
        <p>
          A <strong>Ruby on Rails</strong> web app where users can book a 1-way flight. Part of The Odin Project's project-based curriculum.
        </p>

        <ul>
          <li>Implemented a feature that shows two connecting flights for long cross-country trips.</li>
          <li>Utilized test-driven development for the connecting flight feature, as part of the <strong>RSpec</strong> test suite.</li>
          <li>Managed perpetual creation and deletion of database entries using rake tasks and <strong>Heroku Scheduler</strong>.</li>
          <li>Designed and created the logo using Affinity Designer.</li>
        </ul>
      </div>
    </div>
  </div>

<div class="card">
    <div class="card-header">
      <h3>Chess</h3>
      <div class="card-btn">
        <a href="https://repl.it/@rlmoser/rubychess" class="demo-btn">Demo</a>
        <a href="https://github.com/rlmoser99/ruby_chess" class="code-btn">
          <i class="fas fa-code"></i>
        </a>
      </div>
    </div>
    <div class="card-content">
      <div class="card-img">
        <a href="https://repl.it/@rlmoser/rubychess">
          <%= image_tag('project-chess.png') %>
        </a>
      </div>
      <div class="card-description">
        <p>
          A <strong>Ruby</strong> Command-Line Interface game. Part of The Odin Project's project-based curriculum.
        </p>

        <ul>
          <li>Abstracted code duplication using a combination of Factory and Strategy Design Patterns.</li>
          <li>Reduced explicit message passing using the Observer Design Pattern.</li>
          <li>Utilized serialization to validate each move and allow the user to save their game.</li>
          <li>Focused on writing unit tests and test-driven development using <strong>RSpec</strong>.</li>
        </ul>
      </div>
    </div>
  </div>

</div>
