<div class="content-container">
  <h2 class="page-title">Projects</h2>

  <div class="project-container">
    <h3>Flight Booker</h3>
    <div class="project-image">
      <%= image_tag('project-flight-booker.png', height: '200px', width: '200px') %>
    </div>

  </div>
</div>

