<div class="content-container">

  <div class="project-container">
    <div class="project-img flight-booker-img">
    </div>
    <div class="card">
      <div class="card-header">
        <h3>Flight Booker</h3>
        <div class="card-btn">
          <a href="https://rlm-flight-booker.herokuapp.com/" class="demo-btn">Demo</a>
          <a href="https://github.com/rlmoser99/flight-booker" class="code-btn">
            <i class="fas fa-code"></i>
          </a>
        </div>
      </div>
      <div class="card-description">
        <p class="card-summary">
          Ruby on Rails web app for booking a 1-way flight.
        </p>

        <p>Implemented a feature that shows two connecting flights for long cross-country trips.</p>
        <p>Utilized test-driven development for the connecting flight feature, as part of the RSpec test suite.</p>
        <p>Managed perpetual creation and deletion of database entries using rake tasks and Heroku Scheduler.</p>
        <p>Designed and created the logo using Affinity Designer.</p>
      </div>
    </div>
  </div>

  <div class="project-container project-reverse">
    <div class="project-img chess-img">
    </div>
    <div class="card">
      <div class="card-header">
        <h3>Chess</h3>
        <div class="card-btn">
          <a href="https://repl.it/@rlmoser/rubychess" class="demo-btn">Demo</a>
          <a href="https://github.com/rlmoser99/ruby_chess" class="code-btn">
            <i class="fas fa-code"></i>
          </a>
        </div>
      </div>
      <div class="card-description">
        <p class="card-summary">
          Ruby command-line game for 1 or 2 players.
        </p>

        <p>Abstracted code duplication using a combination of Factory and Strategy Design Patterns.</p>
        <p>Reduced explicit message passing using the Observer Design Pattern.</p>
        <p>Utilized serialization to validate each move and allow the user to save their game.</p>
        <p>Focused on writing unit tests and test-driven development using RSpec.</p>
      </div>
    </div>
  </div>
  
</div>
