<div class="content-container">
  <h2 class="page-title">Projects</h2>

  <div class="project-container">
    <div class="project-header">
      <h3>Flight Booker</h3>
      <a href="https://github.com/rlmoser99/flight-booker" class="project-link">
        <i class="fas fa-code"></i>
      </a>
    </div>
    <div class="project-wrapper">
      <div class="project-image">
        <a href="https://rlm-flight-booker.herokuapp.com/">
          <%= image_tag('project-flight-booker.png') %>
        </a>
      </div>
      <div class="project-description">
        <p class="project-summary">
          A <strong>Ruby on Rails</strong> web app where users can book a 1-way flight. Part of The Odin Project's project-based curriculum.
        </p>

        <ul class="project-list">
          <li class="project-item">Implemented a feature that shows two connecting flights for long cross-country trips.</li>
          <li class="project-item">Utilized test-driven development for the connecting flight feature, as part of the <strong>RSpec</strong> test suite.</li>
          <li class="project-item">Managed perpetual creation and deletion of database entries using rake tasks and <strong>Heroku Scheduler</strong>.</li>
          <li class="project-item">Designed and created the logo using Affinity Designer.</li>
        </ul>
      </div>
    </div>
    <a href="https://github.com/rlmoser99/flight-booker" class="project-link">Code</a>
    <a href="https://rlm-flight-booker.herokuapp.com/" class="project-link">Demo</a>
  </div>

  <div class="project-container">
    <div class="project-header">
      <h3>Flight Booker</h3>
      <a href="https://github.com/rlmoser99/flight-booker" class="project-link">
        <i class="fas fa-code"></i>
      </a>
    </div>
    <div class="project-wrapper">
      <div class="project-image">
        <a href="https://rlm-flight-booker.herokuapp.com/">
          <%= image_tag('project-flight-booker.png') %>
        </a>
      </div>
      <div class="project-description">
        <p class="project-summary">
          A <strong>Ruby on Rails</strong> web app where users can book a 1-way flight. Part of The Odin Project's project-based curriculum.
        </p>

        <ul class="project-list">
          <li class="project-item">Implemented a feature that shows two connecting flights for long cross-country trips.</li>
          <li class="project-item">Utilized test-driven development for the connecting flight feature, as part of the <strong>RSpec</strong> test suite.</li>
          <li class="project-item">Managed perpetual creation and deletion of database entries using rake tasks and <strong>Heroku Scheduler</strong>.</li>
          <li class="project-item">Designed and created the logo using Affinity Designer.</li>
        </ul>
      </div>
    </div>
    <a href="https://github.com/rlmoser99/flight-booker" class="project-link">Code</a>
    <a href="https://rlm-flight-booker.herokuapp.com/" class="project-link">Demo</a>
  </div>



</div>
