a {
  color: $color-white;
}

h1 {
  font-weight: 400;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.75rem;
  // margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

code {
  color: $color-primary-dark;
}
