@mixin navigation-links {
  color: $color-white;
  font-size: var(--navigation-font-size);
  text-decoration: none;
  border-bottom: none;
}

@mixin navigation-decoration {
  border-bottom: 2px solid $color-primary-dark;

  &:hover {
    border-color: $color-accent;
  }

  &:active {
    color: $color-light-gray;
  }
}
