$font-primary: 'Roboto', sans-serif;
$font-accent: 'Euphoria Script', cursive;

$dark-hover: lighten(#333333, 6%);
// Create all the colors without the function

$colors: (
  primary-dark: #333333,
  primary-light: #c2c2c2,
  accent: #6ecfde,
  white: #ffffff,
  transparent: rgba(51, 51, 51 , 0.9)
);

@function color($color-name) {
  @return map-get($colors, $color-name)
}
  
$desktop: 768px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
