$color-primary-dark: #333333;
$color-primary-light: #c2c2c2;
$color-accent: #6ecfde;
$color-white: #ffffff;
$color-transparent: rgba(51, 51, 51 , 0.9);

$color-primary-darkened: lighten($color-primary-dark, 6%);
$color-primary-lightened: lighten($color-primary-light, 5%);

$font-primary: 'Roboto', sans-serif;
$font-accent: 'Euphoria Script', cursive;

$desktop: 768px;

// Look at make variables for spacing.
