.about-container {
  a {
    color: $color-primary-dark;
  }

  a:hover {
    color: $color-black;
  }

  @include laptop {
    display: flex;
    flex-direction: row;

    p {
      font-size: 1.1rem;
    }

    > * {flex: 0 1 auto;}
  }

  @include desktop {
    p {
      font-size: 1.3rem;
    }
  }
}

.about-images {
  display: none;
  padding: var(--spacing);
  
  img {
    border-radius: $corner-radius;
    box-shadow: $drop-shadow;
    margin: 1rem 0;
    max-width: 275px;
    width: 15vw;
  }

  .rotate-left {
    transform: rotate(7deg);
  }

  .rotate-right {
    transform: rotate(-7deg);
    z-index: 1
  }

  @include tablet {
    display: flex;
    justify-content: center;

    > * {flex: 0 1 auto;}
  }

  @include laptop {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 var(--spacing) calc(var(--spacing) * 2);

    img {
      margin: 0 1rem;
      width: 15vw;
    }
  }

  @include desktop {
    padding-left: calc(var(--spacing) * 3);
  }
}
