.about-container {
  a {
    color: $color-primary-dark;
  }

  a:hover {
    color: $color-black;
  }

  @include laptop {
    display: flex;
    flex-direction: row;

    p {
      font-size: 1.1rem;
    }

    > * {flex: 0 1 auto;}
  }
}

.about-content {
  @include content-max;
}

.about-picture {
  visibility: hidden;
  
  margin: 0 auto;
  padding: var(--spacing);
  transform: rotate(10deg);
  
  img {
    border-radius: $corner-radius;
    box-shadow: $drop-shadow;
    width: 300px;
  }

  @include desktop {
    align-self: center;
    visibility: visible;
  }
}
