.about {
  &-container {
    h3 {
      padding-bottom: 1rem;
    }
  }

  .card {
    margin-bottom: var(--spacing);
  }

  &-images {
    display: none;
    padding: var(--spacing);
    
    img {
      border-radius: $corner-radius;
      box-shadow: $drop-shadow;
      margin: 1rem 0;
      max-width: 275px;
      width: 15vw;
    }
  
    .rotate-left {
      transform: rotate(7deg);
    }
  
    .rotate-right {
      transform: rotate(-7deg);
      z-index: 1
    }
  }
}

@media screen and (min-width: $tablet) {
  .about {
    &-images {
      display: flex;
      justify-content: center;
  
      > * {flex: 0 1 auto;}
    }
  }
}

@media screen and (min-width: $laptop) {
  .about {
    width: 100%;

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      > * {flex: 0 1 auto;}
    }

    &-content {
      max-width: 850px;
    }

    &-images {
      flex-direction: column;
      justify-content: flex-start;
      padding: 1rem 0 var(--spacing) calc(var(--spacing) * 2);

      img {
        margin: 0 1rem;
        width: 18vw;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .about {
    &-content {
      max-width: 900px;
    }

    &-images {
      img {
        max-width: 325px;
      }
    }
  }
}

@media screen and (min-width: $widescreen) {
  .about {
    &-container {
      h3 {
        font-size: 2.75rem;
        padding-bottom: 2rem;
      }
    }

    &-content {
      max-width: 1200px;
    }

    &-images {
      img {
        max-width: 400px;
      }
    }
  }
}
