.card {
  background-color: $color-light-gray;
  border-radius: $corner-radius;
  box-shadow: $drop-shadow;
  padding: var(--spacing);

  p.card-summary {
    color: $color-black;
    font-weight: 100;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .icon-link {
    color: $color-dark-teal;
    border: none;

    &:hover {
      color: $color-primary-dark;
    }
  }
}

@media screen and (min-width: $laptop) {
  .card {
    p.card-summary {
      font-size: 1.1rem;
      line-height: 1.65rem;
    }
  }
}

@media screen and (min-width: $desktop) {
  .card {
    p.card-summary {
      font-size: 1.3rem;
      line-height: 1.95rem;
    }
  }
}

@media screen and (min-width: $widescreen) {
  .card {
    p.card-summary {
      font-size: 2rem;
      line-height: 3rem;
    }
  }
}
