footer {
  align-items: center;
  background-color: color(primary-light);
  display: flex;
  height: 5rem;
  flex: 0 0 content;
  justify-content: space-around;
  > * { flex: 0 1 auto; }

  .social-icon {
    align-items: center;
    background: color(primary-dark);
    border-radius: 50%;
    display: flex;
    height: 3.5rem;
    justify-content: center;
    width: 3.5rem;

    i {
      color: color(primary-light);
      font-size: 2rem;
    }
  }

  .inverted {
    background: none;
  
    i {
      color: color(primary-dark);
      font-size: 3.5rem;
    }
  }
}
