footer {
  background-color: $color-primary-light;
  height: 5rem;
  flex: 0 0 content;

  @include tablet {
    display: flex;
    justify-content: flex-end;
    > * { flex: 0 1 auto; }
  }

  .footer-container {
    align-items: center;
    background-color: $color-primary-light;
    display: flex;
    height: 5rem;
    justify-content: space-around;
    > * { flex: 0 1 auto; }

    @include tablet {
      width: 50%;
      justify-content: space-between;
      padding: 0 var(--spacing);
    }
  }

  .social-icon {
    align-items: center;
    background: $color-primary-dark;
    border-radius: 50%;
    display: flex;
    height: 3.5rem;
    justify-content: center;
    width: 3.5rem;

    i {
      color: $color-primary-light;
      font-size: 2rem;
    }
  }

  .inverted {
    background: none;
  
    i {
      color: $color-primary-dark;
      font-size: 3.5rem;
    }
  }
}
