.nav-container {
  padding: 0 var(--spacing);
  max-width: $content-max;

  @include desktop {
    margin: 0 auto;
  }
}

.header-title {
  width: 100%;

  @include tablet {
    width: auto;
  }
}

.page-title {
  color: $color-accent;
  font-family: $font-accent;
  font-size: var(--menu-height);
  margin-top: 60px;
  padding: 1rem 0;
  text-align: center;
  
  @include tablet {
    margin: 0;
    padding: 0;
  }
}

.page-title:before {
  content: '{ ';
}

.page-title:after {
  content: ' }';
}

.page-title:before,
.page-title:after {
  background: inherit;
  color: $color-white;
  font-family: $font-primary;
}

.menu-wrap {
  @include tablet {
    display: flex;
    justify-content: space-between;
    margin: var(--spacing) 0;
  
    > * {flex: 0 1 auto; }
  }
}

.menu-wrap .toggler {
  cursor: pointer;
  height: 50px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 50px;
  z-index: 2;
}

// Top and Left are 1rem to match 2rem padding
.menu-wrap .hamburger {
  align-items: center;
  background: $color-primary-dark;
  display: flex;
  height: 60px;
  justify-content: center;
  left: 1rem;
  padding: 1rem;
  position: absolute;
  top: 1rem;
  width: 60px;
  z-index: 1;

  > * { flex: 0 1 auto; }

  @include tablet {
    visibility: hidden;
  }
}

// Hamburger Line
.menu-wrap .hamburger > div {
  align-items: center;
  background: #fff;
  display: flex;
  flex: none;
  height: 2px;
  justify-content: center;
  position: relative;
  transition: all 0.4s ease;
  width: 100%;

  > * { flex: 0 1 auto; }
}

// Hamburger Lines - Top & Bottom
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  background: inherit;
  height: 2px;
  position: absolute;
  top: -10px;
  width: 100%;
  z-index: 1;
}

// Moves Bottom Line Down
.menu-wrap .hamburger > div::after {
  top: 10px;
}

// Toggler Animation
.menu-wrap .toggler:checked + .hamburger > div {
  background-color: $color-accent;
  transform: rotate(135deg);
}

// Turns Hamburger Lines Into X
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

// Hover Only Animation When Checked
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

// Show Menu
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

// Transition of menu links appearing
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 2s ease;
}

// Diagonal Slide Transition of the menu background
.menu-wrap .toggler:checked ~ .menu > div {
  bottom: 0;
  left: 0;
  transition: .1s;
}

.menu-wrap .menu {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;

  // Min-Height is the difference between rem for font-size and height
  @include tablet {
    display: flex;
    min-height: calc(var(--menu-height) + var(--menu-padding));
    position: static;
    visibility: visible;
    width: auto;

    > * { flex: 0 1 auto; }
  }
}

// Menu Links Off Screen
.menu-wrap .menu > div {
  background: $color-transparent;
  bottom: 100vh;
  display: flex;
  flex: none;
  height: 100vh;
  left: -100vw;
  position: absolute;
  transition: .1s;
  width: 100vw;

  > * { flex: 0 1 auto; }

  @include tablet {
    position: static;
    width: auto;
    height: auto;
  }
}

// Menu Links
.menu-wrap .menu > div > div {
  margin-top: 80px;
  max-height: 100vh;
  opacity: 0;
  padding: 0 1rem;

  @include tablet {
    display: flex;
    margin-top: 0;
    opacity: 1;
    padding: 0;
    
    > * { flex: 0 1 auto; }
  }
}

// Padding-bottom is the difference between rem for font-size and height for page title
.menu-wrap .menu > div > div > ul {
  @include tablet {
    display: flex;
    padding-bottom: var(--menu-padding);
    
    > * { flex: 0 1 auto; }
  }
}

.menu-wrap .menu > div > div > ul > li {
  color: #fff;
  font-size: 1.5rem;
  list-style: none;
  padding: 1rem;

  @include tablet {
    align-items: flex-end;
    display: flex;
    padding: 0 calc(var(--spacing) / 2);

    > * { flex: 0 1 auto; }

    &:last-child {
      padding-right: 0;
    }
  }
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid $color-primary-dark;

  &:hover {
    border-color: $color-teal;
  }

  &:active {
    color: $color-light-gray;
  }
}
