.hero {
  align-items: center;
  background-color: $color-primary-dark;
  justify-content: center;
  padding: var(--spacing);

  &-image {
    width: 175px;
  }

  &-title {
    color: $color-accent;
    padding-top: 2rem;

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 100;
      margin-bottom: 1rem;
    }
  }

  &-links {
    padding-top: 1rem;

    a {
      @include navigation-links;
      @include navigation-decoration;

      font-size: 1rem;
      margin-right: 1rem;
    }
  }
}

@media screen and (min-width: $tablet) {
  main.main-dark > nav {
    display: none;
  }

  .hero {
    flex-direction: row;

    &-image {
      width: 200px;
    }

    &-title {
      padding: 0 0 0 2rem;

      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 2rem;
      }
    }

    &-links {
      a {
        font-size: 1.5rem;
        margin-right: var(--spacing);
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .hero {
    &-image {
      width: 250px;
    }

    &-title {
      h1 {
        font-size: 3.5rem;
      }

      h2 {
        font-size: 2.5rem;
      }
    }
  }
}

@media screen and (min-width: $widescreen) {
  .hero {
    &-image {
      width: 400px;
    }

    &-title {
      h1 {
        font-size: 5rem;
      }

      h2 {
        font-size: 3.5rem;
      }
    }
  }
}