.hero {
  align-items: center;
  background-color: $color-primary-dark;
  justify-content: center;
  padding: var(--spacing);
  
  &-image {
    width: 200px;
  }

  &-title {
    color: $color-white;
    padding-top: 2rem;
  
    h1 {
      font-size: 2.5rem;
    }
    
    h2 {
      font-size: 1.5rem;
      font-weight: 100;
    }
  }
}

@media screen and (min-width: $tablet) {
  .hero {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10vh;

    &-title {
      padding: 0 0 0 2rem;

      h1 {
        font-size: 3rem;
      }
      
      h2 {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .hero {
    &-image {
      width: 250px;
    }

    &-title {
      h1 {
        font-size: 3.5rem;
      }
      
      h2 {
        font-size: 2.5rem;
      }
    }
  }
}
