.hero-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  > * { flex: 0 1 auto; }
}

.hero-image {
  // use max() here because sizing is off
  width: 200px;
}

.hero-content {
  margin-top: 60px;
}

.hero-content h1 {
  font-size: 3rem;
}

.hero-content h2 {
  font-size: 2rem;
}
