.hero-container {
  align-items: center;
  background-color: $color-primary-dark;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing);
  
  > * { flex: 0 1 auto; }

  @include tablet {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10vh;
  }
}

.hero-image {
  width: 200px;

  @include desktop {
    width: 250px;
  }
}

.hero-content {
  padding-top: 2rem;

  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: 100;
  }

  @include tablet {
    padding: 0 0 0 2rem;

    h1 {
      font-size: 3rem;
    }
    
    h2 {
      font-size: 2rem;
    }
  }

  @include desktop {
    h1 {
      font-size: 3.5rem;
    }
    
    h2 {
      font-size: 2.5rem;
    }
  }
}
