.hero-container {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing);
  
  > * { flex: 0 1 auto; }

  @include tablet {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10vh;
  }
}

.hero-image {
  width: 200px;

  @include tablet {
    width: 250px;
  }
}

.hero-content {
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: 100;
  }

  @include tablet {
    padding-left: 2rem;

    h1 {
      font-size: 3.5rem;
    }
    
    h2 {
      font-size: 2.5rem;
    }
  }
}
