nav {
  height: 60px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // @include content-max;
}

.menu-logo {
  padding: 1rem;
  width: 60px;
}

.menu-wrap .toggler {
  cursor: pointer;
  height: 50px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 50px;
  z-index: 2;
}

.menu-wrap .hamburger {
  align-items: center;
  background: $color-primary-dark;
  display: flex;
  height: 60px;
  justify-content: center;
  left: 0;
  padding: 1rem;
  position: absolute;
  top: 0;
  width: 60px;
  z-index: 1;
  > * { flex: 0 1 auto; }

  @include desktop {
    visibility: hidden;
  }
}

// Hamburger Line
.menu-wrap .hamburger > div {
  align-items: center;
  background: #fff;
  display: flex;
  flex: none;
  height: 2px;
  justify-content: center;
  position: relative;
  transition: all 0.4s ease;
  width: 100%;
  > * { flex: 0 1 auto; }
}

// Hamburger Lines - Top & Bottom
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  background: inherit;
  height: 2px;
  position: absolute;
  top: -10px;
  width: 100%;
  z-index: 1;
}

// Moves Bottom Line Down
.menu-wrap .hamburger > div::after {
  top: 10px;
}

// Toggler Animation
.menu-wrap .toggler:checked + .hamburger > div {
  background-color: $color-accent;
  transform: rotate(135deg);
}

// Turns Hamburger Lines Into X
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

// Hover Only Animation When Checked
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

// Show Menu
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

// Transition of menu links appearing
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 2s ease;
}

// Diagonal Slide Transition of the menu background
.menu-wrap .toggler:checked ~ .menu > div {
  bottom: 0;
  left: 0;
  transition: .1s;
}

.menu-wrap .menu {
  display: flex;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;

  @include desktop {
    height: 60px;
    position: static;
    visibility: visible;
  }
}

// Menu Links Off Screen
.menu-wrap .menu > div {
  background: $color-transparent;
  bottom: 100vh;
  display: flex;
  flex: none;
  height: 100vh;
  left: -100vw;
  position: absolute;
  transition: .1s;
  width: 100vw;
  > * { flex: 0 1 auto; }

  @include desktop {
    position: static;
    width: auto;
  }
}

// Menu Links
.menu-wrap .menu > div > div {
  margin-top: 80px;
  max-height: 100vh;
  opacity: 0;

  @include desktop {
    margin-top: 0;
    opacity: 1;
  }
}

.menu-wrap .menu > div > div > ul {
  @include desktop {
    display: flex;
    justify-content: flex-end;
    > * { flex: 0 1 auto; }
  }
}

.menu-wrap .menu > div > div > ul > li {
  color: #fff;
  font-size: 1.5rem;
  list-style: none;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
}
