.content-container {
  // background-color: $color-primary-light;
  // background-color: $color-test-light;
  background-color: $color-primary-dark;
  // color: $color-primary-dark;
  color: $color-test-light;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 0 var(--spacing);
  > * { flex: 0 1 auto; }
}

.page-title {
  font-family: $font-accent;
  color: $color-accent;
  text-align: center;
  font-size: 4rem;
  // margin: 2rem 0;
  margin-bottom: 2rem;
  @include desktop {
    font-size: 5rem;
    text-align: left;
  }
}

.page-title:before {
  content: '{ ';
}

.page-title:after {
  content: ' }';
}

.page-title:before,
.page-title:after {
  background: inherit;
  color: $color-white;
  font-family: $font-primary;
}
