.project-container {
  border-radius: $corner-radius;
  box-shadow: 0 4px 14px $color-transparent-light;
  margin-bottom: var(--spacing);

  @include laptop {
    box-shadow: none;
    display: flex;
    margin-bottom: 4rem;

    .project-img {
      margin-right: var(--spacing);
      border-radius: $corner-radius;
      box-shadow: 0 4px 14px $color-transparent-light;
    }
    > * { flex: 0 1 auto; }
  }
}

.project-reverse {
  @include laptop {
    flex-direction: row-reverse;

    .project-img {
      margin-left: var(--spacing);
      margin-right: 0;
    }
  }
}

.project-img {
  background-color: $color-primary-dark;
  background-size: cover;
  background-position: top center;
  border-radius: $corner-radius $corner-radius 0 0;
  height: 20vh;
  width: 100%;

  @include laptop {
    border-radius: $corner-radius;
    height: auto;
    width: 60%;
  }
}

.card {
  background-color: $color-light-gray;
  border-radius: 0 0 $corner-radius $corner-radius;
  box-shadow: 0 4px 14px $color-transparent-light;
  color: $color-primary-dark;
  flex: 1 1 auto;
  padding: var(--spacing);
  
  &-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    > * { flex: 0 1 auto; }

    h3 {
      margin-right: 1rem;
    }
  }

  @include laptop {
    border-radius: $corner-radius;

    &-header {
      h3 {
        font-size: 2.25rem;
      }
    }
  }
}

// Double Button for Live Demo & Source Code
.card-btn {
  background-color: $color-light-gray;
  border-radius: $corner-radius;
  display: flex;
  
  a {
    text-decoration: none;
  }

  .demo-btn {
    border: 1px solid $color-primary-dark;
    border-radius: $corner-radius 0 0 $corner-radius;
    color: $color-primary-dark;
    padding: .3rem;
    
    &:hover {
      background-color: $color-primary-light;
    }

    @include laptop {
      padding: .3rem .6rem;
    }
  }

  .code-btn {
    align-items: center;
    background-color: $color-primary-dark;
    border-radius: 0 $corner-radius $corner-radius 0;
    color: $color-light-gray;
    display: flex;
    justify-content: center;
    padding: .3rem;

    &:hover {
      color: $color-accent;
    }

    @include laptop {
      padding: .3rem .6rem;
    }
  }

  @include laptop {
    font-size: 1.1rem;
  }
}

.card-description {
  padding-top: 15px;

  .card-summary {
    font-weight: 100;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  @include laptop {
    padding-top: 0;

    .card-summary {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.1rem;
    }
  }
}

.flight-booker-img {
  background-image: url(asset_path("project-flight-booker.png"));
  background-position: top left;
}

.chess-img {
  background-image: url(asset_path("project-chess.png"));
  background-position: top left;
}
