.content-container {
  background-color: color(primary-light);
  color: color(primary-dark);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  > * { flex: 0 1 auto; }
}

.card {
  box-shadow: 0 0 10px color(primary-dark);
  margin-bottom: 2rem;
  padding: 30px;
  border-radius: 5px;
  background-color: lighten(color(primary-light), 5%);

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: center;
    > * { flex: 0 1 auto; }

    h3 {
      margin-right: 1rem;
    }
  }

  &-content {
    @include desktop {
      display: flex;
      > * { flex: 0 1 auto; }
    }
  }
}

.card-btn {
  background-color: lighten(color(primary-light), 5%);
  display: flex;
  
  a {
    text-decoration: none;
  }

  .demo-btn {
    padding: .3rem;
    color: color(primary-dark);
    border-radius: 5px 0 0 5px;
    border: 1px solid color(primary-dark);
    
    &:hover {
      background-color: color(primary-light);
    }
  }

  .code-btn {
    padding: .3rem;
    background-color: color(primary-dark);
    color: lighten(color(primary-light), 5%);
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $dark-hover;
    }
  }
}

.card-img {
  max-width: 350px;

  a {
    background-color: inherit;
    padding: 0;
  }

  a:hover {
    background-color: inherit;
  }

  @include desktop {
    flex-shrink: 2;
    margin-right: 2rem;
  }
}

.card-description {
  padding-top: 15px;

  strong {
    font-weight: 400;
  }

  p {
    font-weight: 100;
  }

  ul {
    list-style: circle;
    padding-left: 15px;
    font-weight: 100;

    li {
      margin-left: .5rem;
      padding: .25rem 0;
    }
  }

  @include desktop {
    padding-top: 0;
  }
}
