.project-container {
  margin-top: var(--spacing);
  box-shadow: 0 4px 14px $color-transparent-light;
  border-radius: 5px;

  @include laptop {
    display: flex;
    > * { flex: 0 1 auto; }
  }
}

.project-reverse {
  @include laptop {
    flex-direction: row-reverse;

    .project-img {
      border-radius: 0 5px 5px 0;
    }

    .card {
      border-radius: 5px 0 0 5px;
    }
  }
}

.content-title {
  background-color: $color-primary-dark;
  padding: 0 var(--spacing);
}

.card {
  color: $color-primary-dark;
  background-color: $color-test-light;
  border-radius: 0 0 5px 5px;
  padding: var(--spacing);
  flex: 1 1 auto;
  
  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
    > * { flex: 0 1 auto; }

    h3 {
      margin-right: 1rem;
    }
  }

  @include laptop {
    border-radius: 0 5px 5px 0;
  }
}

.card-btn {
  background-color: $color-test-light;
  display: flex;
  border-radius: 5px;
  
  a {
    text-decoration: none;
  }

  .demo-btn {
    padding: .3rem;
    color: $color-primary-dark;
    border-radius: 5px 0 0 5px;
    border: 1px solid $color-primary-dark;
    
    &:hover {
      background-color: $color-primary-light;
    }
  }

  .code-btn {
    padding: .3rem;
    background-color: $color-primary-dark;
    color: $color-primary-lightened;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $color-primary-darkened;
    }
  }
}

.project-img {
  background-color: $color-primary-dark;
  width: 100%;
  height: 20vh;
  border-radius: 5px 5px 0 0;
  background-size: cover;
  background-position: top center;

  a {
    background-color: inherit;
    padding: 0;
  }

  a:hover {
    background-color: inherit;
  }

  img {
    background-size: cover;
  }

  @include laptop {
    width: 60%;
    height: auto;
    border-radius: 5px 0 0 5px;
  }
}

.card-description {
  padding-top: 15px;

  .card-summary {
    font-weight: 100;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  @include laptop {
    padding-top: 0;

    p {
      font-size: 1.1rem;
    }
  }
}

.flight-booker-img {
  background-image: url(asset_path("project-flight-booker.png"));
}

.chess-img {
  background-image: url(asset_path("project-chess.png"));
  background-position: top left;
}
