footer {
  align-items: center;
  background-color: #C2C2C2;
  display: flex;
  height: 5rem;
  flex: 0 0 content;
  justify-content: space-around;
  > * { flex: 0 1 auto; }
}

.social-icon {
  background: #333333;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon i {
  color: #c2c2c2;
  font-size: 2rem;
}

.inverted {
  background: none;
}

.inverted i {
  color: #333333;
  font-size: 3.5rem;
}
