.content-container {
  background-color: var(--light-color);
  color: var(--primary-color);
  // align-items: center;
  // justify-content: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  > * { flex: 0 1 auto; }
}