<footer>
  <div class="footer-container">
    <%# For consistent behavior, set the entire div as the link %>
    <div class="social-icon inverted"><i class="fab fa-github"></i></div>
    <div class="social-icon"><i class="far fa-envelope"></i></div>
    <div class="social-icon"><i class="fab fa-linkedin-in"></i></div>
  </div>
</footer>
