<footer>
  <div class="footer-container">
    <div class="icon-container">
      <a href="https://github.com/rlmoser99" target="_blank">
        <div class="social-icon inverted"><i class="fab fa-github"></i></div>
      </a>
      <a href= "mailto: moser.rachel@gmail.com">
        <div class="social-icon"><i class="far fa-envelope"></i></div>
      </a>
      <a href= "https://www.linkedin.com/in/rlmoser99/" target="_blank">
        <div class="social-icon"><i class="fab fa-linkedin-in"></i></div>
      </a>
    </div>
  </div>
</footer>
