<nav>
  <div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger">
      <div></div>
    </div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><%= link_to 'Home', controller: "static_pages", action: "home"%></li>
            <li><%= link_to 'Projects', controller: "static_pages", action: "projects"%></li>
            <li><%= link_to 'About', controller: "static_pages", action: "about"%></li>
            <li><%= link_to 'Contact', controller: "static_pages", action: "contact"%></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
